<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../function.js"></script>
    <link rel="stylesheet" href="https://use.typekit.net/xrx3fet.css">
    <link rel="stylesheet" href="../css/register.css">
    <title>Realize seu cadastro</title>
</head>
<body>
    <div id="login">
        <div id="image">
            <img src="../image/pokemon.png" id="img-pokemon">
            <img src="../image/fox.png" id="img-fox">
        </div>
        <form>
            <a href="./login.html" id="link-home"><img src="../image/seta.png" id="img-seta">Login</a>
            <label>E-mail</label>
            <Input type="email" id="email"></Input>
            <label>Senha</label>
            <Input type="password" id="password"></Input>
            <label>Confirme sua senha</label>
            <Input type="password" id="check-password"></Input>
            <button type="submit" onclick="window.open('./login.html')">Cadastrar</button>
        </form>
    </div>
    <div id="division">
        <img src="../image/c.png" id="img-c">
    </div>
    <div id="img-charmander"> 
    </div>
</body>
</html>